# Import and Split Data

In [1]:
# import libraries
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
# data doesn't have headers, so let's create headers
_headers = ['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety', 'car']
# read in cars dataset
df = pd.read_csv('Data/car.data', names=_headers, index_col=None)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1728 non-null   object
 1   maint     1728 non-null   object
 2   doors     1728 non-null   object
 3   persons   1728 non-null   object
 4   lug_boot  1728 non-null   object
 5   safety    1728 non-null   object
 6   car       1728 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB

In [3]:
#split the data into 80% for training and 20% for evaluation
training_df, eval_df = train_test_split(df, train_size=0.8, random_state=0)

In [4]:
training_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1382 entries, 1649 to 684
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1382 non-null   object
 1   maint     1382 non-null   object
 2   doors     1382 non-null   object
 3   persons   1382 non-null   object
 4   lug_boot  1382 non-null   object
 5   safety    1382 non-null   object
 6   car       1382 non-null   object
dtypes: object(7)
memory usage: 86.4+ KB

In [9]:
training_df.head()

     buying maint  doors persons lug_boot safety    car
1579    low   med      4       4      med    med   good
634    high  high  5more       4      med    med    acc
299   vhigh   med  5more       2    small   high  unacc
1085    med   med      2       2      med   high  unacc
1659    low   low      3       4      med    low  unacc

In [5]:
eval_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 346 entries, 1318 to 427
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    346 non-null    object
 1   maint     346 non-null    object
 2   doors     346 non-null    object
 3   persons   346 non-null    object
 4   lug_boot  346 non-null    object
 5   safety    346 non-null    object
 6   car       346 non-null    object
dtypes: object(7)
memory usage: 21.6+ KB

# Random State
![types](random_state.jpg)

In [6]:
#split the data into 80% for training and 20% for evaluation
training_df, eval_df = train_test_split(df, train_size=0.8, random_state=1)

In [7]:
training_df.head()

     buying maint  doors persons lug_boot safety    car
1579    low   med      4       4      med    med   good
634    high  high  5more       4      med    med    acc
299   vhigh   med  5more       2    small   high  unacc
1085    med   med      2       2      med   high  unacc
1659    low   low      3       4      med    low  unacc

In [8]:
eval_df.head()

     buying maint  doors persons lug_boot safety    car
1233    med   low      3    more    small    low  unacc
592    high  high      3    more      big    med    acc
625    high  high  5more       2      med    med  unacc
1546    low   med      3       2      big    med  unacc
730    high   med  5more       2    small    med  unacc